
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          
          <h1><a href="/">My Site</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>
      <section class="top-bar-section">
        
        <ul class="right">
          <li><a href="#">Nav Button</a></li>
          <li><a href="#">Nav Button</a></li>
          
          <li class="divider"></li>

          <li class="has-dropdown">
            <a href="#">Main Item 3</a>
            <ul class="dropdown">
              <li><a href="/pages/about.html">About</a></li>
              <li><a href="#">Dropdown Option</a></li>
              <li><a href="#">Dropdown Option</a></li>
              <li class="divider"></li>
              <li><a href="#">See all &rarr;</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
    <!-- /.top-bar -->